<% include ../partials/header %>

<!-- Add custom code below -->

<a href="/" class="btn btn-lg"><strong>BACK!!</strong></a><h1><center>Enter income :)</center></h1>
<form action="/income" method="post">
<div style="margin: 10px"><center>
    <div style="margin :10px 10px">
            Enter category of income - <input type="radio" name="category" value="daily catering">daily catering
    </div>
    <div style="margin :10px 10px">
            Enter Amount - <input type="number" name ="amount" placeholder="enter amount here">
    </div>
    <div style="margin :10px">
            <button class="btn btn-lg btn-success">Submit!</button>
    </div>

</center>
</div>
</form>

<a href="/cashflow"><center>Check Casflow status here!!</center></a>