<% include ../partials/header %>

<!-- Add custom code below -->

<a href="/" class="btn btn-lg"><strong>BACK!!</strong></a><h1><center>Enter Expense :(</center></h1>
<form action="/expense" method="post">
<div style="margin: 10px 10px"><center>
    <div style="margin: 10px 10px">
            Enter category of expense - <input type="radio" name="category" value="groceries">
    </div>
    <div style="margin: 10px 10px">
            Enter Amount - <input type="number" name ="amount" placeholder="enter amount here">
    </div>
    <div style="margin: 10px 10px">
            <button class="btn btn-lg btn-success">Submit!</button>
    </div>

</center>
</div style="margin: 10px 10px">
</form>
<a href="/cashflow"><center>Check Casflow status here!!</center></a>