<% include ../partials/header %>

<!--ADD CUSTOM CODE HERE-->

<!-- create a link asking what the user wants to do? Enter Log? View Balance? -->

<a href="/" class="btn btn-lg"><strong>BACK!!</strong></a><center><h1>Choose what you want to do here</h1></center>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
               <div style="padding: 10px 10px"><center><a href="/customers/view" class="btn btn-success">View All customers</a></center></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div style="padding: 10px 10px"><center><a href="/customers/new" class="btn btn-success">Create New Customer</a></center></div>
        </div>
    </div>
</div>



